@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Email Confirmed! Have Fun!!!";
}

<div class="flex flex-wrap self-center">
    <h1 class="w-full text-center">@ViewData["Title"]</h1>
    <div class="w-full self-center">
        <partial name="_StatusMessage" model="Model.StatusMessage" />
    </div>
</div>
