@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}
<div class="flex flex-wrap self-center">
    <h1 class="w-full text-center">@ViewData["Title"]</h1>
    <p class="w-full text-center">
        Please check your email to reset your password.
    </p>
</div>
