@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}



<div class="flex flex-wrap justify-center self-center w-5/6 lg:2/3 xl:w-1/4 bg-white shadow-lg rounded p-3">
    <div class="w-full text-4xl font-semibold text-black text-center md:text-6xl">@ViewData["Title"]</div>
    <div class="w-full flex flex-wrap justify-center">
        <section class="w-3/4">
            <form asp-route-returnUrl="@Model.ReturnUrl" method="post" class="flex flex-wrap justify-center">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group w-full">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control"/>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group w-full">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control"/>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group w-full">
                    <label asp-for="Input.ConfirmPassword"></label>
                    <input asp-for="Input.ConfirmPassword" class="form-control"/>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-group w-full">
                    <button type="submit" class="primary">Register</button>
                </div>
            </form>
        </section>
    </div>
    
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
