@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<div class="flex flex-wrap self-center">
    <h1 class="w-full text-center">@ViewData["Title"]</h1>
    <p class="w-full text-center">
        Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.
    </p>
</div>